<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Input</title>
</head>
<body>
    <h1>Number Input</h1>

    <form method="post">
        <label for="numberLabel">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <button type="submit">Submit</button>
        <button type="submit" name="clear">Clear CSV</button>

    </form>
    <button id="btn1">1</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
        $(document).ready(function () {
            // Initial value
            let number = 1;

            // Update the span with the initial value
            $('#number').value = number;

            // Button click event
            $('#btn1').click(function () {
                // Increment the value
                number = 1;
                console.log(number)
                console.log($('#number'))

                // Update the span with the new value
                $('#number').value = number;
            });
        });
    </script>
    
    <h2>Prediction</h2>
    <ul>
        {% for num in prediction_list %}
            <li>{{ num }}</li>
        {% endfor %}
    </ul>
    <h2>Plot</h2>
    {{ plot_html|safe }}
    {{ prob_plot|safe}}
    <h2>LastPrediction</h2>
    {{ compare }}
    <h2>Existing Numbers:</h2>
    <ul>
        {% for num in existing_numbers %}
            <li>{{ num }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>
