<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Input</title>
</head>
<body>
    <h1>Number Input</h1>

    <form method="post">
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <button type="submit">Submit</button>
        <button type="submit" name="clear">Clear CSV</button>
    </form>

    
    <h2>Prediction</h2>
    <ul>
        {% for num in prediction_list %}
            <li>{{ num }}</li>
        {% endfor %}
    </ul>
    <h2>Plot</h2>
    {{ plot_html|safe }}

    <h2>Existing Numbers:</h2>
    <ul>
        {% for num in existing_numbers %}
            <li>{{ num }}</li>
        {% endfor %}
    </ul>

</body>
</html>
